body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 2%;
  background-color: #1D293A;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table
{
	table-layout: fixed;
	width: 100%;		
}

button
{
	max-width: 100%;
	width: 98%;
	border-radius: 0px !important;
	margin: 1%;	
	color: #fff !important;
	background-color: #354357 !important;
	height: 5vw;
	font-size: 2vw !important;
	border: 0px !important;	
}

button:hover {background-color: #35436F !important}

.btn:active 
{	
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.btn:focus {
	outline: 0px dotted;
	outline: 1px auto -webkit-focus-ring-color;
  }

input:focus
{
	outline: none;
}

#buttonEquals
{
	background-color: #3e8e41 !important;
}

#displayBox
{
	background-color: #1D293A;
	border: 1px solid #354357;
	margin: 0.1%;	
	margin-bottom: 1%;
	padding:1%;
	text-align: right;	
}

#displayHeading
{
	font-size: 350%;
	max-width: 100%;
	text-align: right;
	background-color: transparent;
	color: #fff;
	padding-right: 2%;
}

li
{
	list-style-type: circle;
	font-size: 140%;
	text-align: left;
}

#appName
{
	font-size: 4vw;
	font-style: italic;
}